{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}



<div class="product 
{% for collection in product.collections %} 
{{ collection.title | replace: ' ', '-'}} 
{% endfor %} 
{% for tag in product.tags %}
{{ tag | replace: ' ', '-' }}
{% endfor %}
clearfix"
rel="{% for tag in product.tags %}{{ tag | replace: ' ', '-' }} {% endfor %}">
  
  <div class="image">
      <a class="zoom" href="{{ product.featured_image | product_img_url: 'master' }}"><img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" /></a>
  </div>
  
  <div class="details">
      <h2>{{ product.title }}</h2>
	  
      {% unless product.available %}
	  <p class="soldout">Sold Out</p>
	  {% else %}
      <p class="price">
        {{ product.price_min | money }}
      </p>
	  {% endunless %}
	  
	  <div class="description">
        {{ product.description }}
      </div>
	  <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
			<div class="select clearfix" style="display:none">
				<select id="product-select" name="id">
				  {% for variant in product.variants %}
				  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
				  {% endfor %}
				</select>
			  </div>
		{% unless product.available %}
		{% else %}
		<input type="submit" id="add-to-cart" class="btn" name="add" value="Add" />
		{% endunless %}
	  </form>
	  
	  <script>
jQuery('form[action^="/cart/add"]').submit(function() {
  var product = {{ product | json }},
      cannotAddThisQuantity = false,
      message = 'We do not have %q item of %t left.',
      selectedVariantId = jQuery(this).find('[name="id"]').val(),
      quantityToAdd = parseInt(jQuery(this).find('[name="quantity"]').val(), 10) || 1,
      quantityInCart = 0,
      title = '';
      inventoryLimited = false,
      inventory = 0;      
  for (var i=0; i<product.variants.length; i++) {
    if (product.variants[i].id == selectedVariantId) {
      var variant = product.variants[i];;
      title = product.title;
      if (product.variants.length > 1) title += ' - ' + variant.title; 
      if (variant.inventory_management && variant.inventory_policy == 'deny') {
        inventoryLimited = true;
        inventory = product.variants[i].inventory_quantity;
      }
    }     
  }
  if (inventoryLimited) {
    {% if cart.item_count > 0 %}
    var cart = {{ cart | json }};
    for (var i=0; i<cart.items.length; i++) {
      if (cart.items[i].id == selectedVariantId) {
        quantityInCart = cart.items[i].quantity;
      }     
    }
    {% endif %}
    if ((inventory - quantityInCart) < quantityToAdd) {
      message = message.replace('%q', quantityToAdd).replace('%t', title);
      if (quantityToAdd > 1) message.replace('item', 'items');
      cannotAddThisQuantity = true;
    }
  }
  if (cannotAddThisQuantity) {
    alert(message);
    return false;
  }
  else {
    return true;
  }
});    
</script>


  </div>
  
</div>
